
h1, p{
    text-align: center;
}
picture{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 300px;
    height: 400px;
    border: 1px solid #000;
    margin: 5px 0 10px 10px;
    
}














