
/* medium size */
@media (min-width: 360px){
    h1 {
        font-size: 2rem;
    }   
    h2{
        font-size: 1.2rem;
    } 
    h3{font-size: 1rem;}
    ul{
        font-size: 1rem;
    }
    footer{
        font-size: 1.2rem;
    }
    nav ul{display: flex;}
    nav ul li{flex: 1 1 auto;}
    nav ul li a{font-size: 1rem;}

}

/* large size */
@media (min-width: 615px){
    h1{font-size: 2.5rem;}   
    h2{font-size: 1.5rem;} 
    h3{font-size: 1.2rem;} 
    ul{font-size: 1.2rem;    }
    footer{font-size: 1.4rem;}

}