* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body{
    font-size: 16px;
    line-height: 1.5;
    background-color: bisque;
    font-family:'Source Sans Pro', sans-serif ;
}
header, main, footer{
    margin: auto;
    max-width: 1080px;
    min-width: 260px;
    background-color:bisque;
    text-align: center;
}

#join-us-banner{
    text-align: center ;
    font-family: 'Titillium Web', sans-serif;
    font-size: 0.7rem;
    color: #4962A5;
    background-color: #fcca73;
    display: none;
}
.company-name{
    position: relative;
}
header div.company-name img{
    display:flex;
    position:absolute;
    top: 1px;
    max-width: 50px;
    margin-top: 0.5rem;
}
main{
    display: block;
}
nav {
	background-color: #7F889F;
	text-align: left;
    box-shadow: 0 2px 12px rgb(92, 88, 88);
    border-radius: 3px;
    width: 100%;
}
nav ul {
    list-style-type: none;}
header nav ul li a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.4rem;
    text-decoration: none;
    font-size: 1.3rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
header nav ul li a :nth-child(1){
    border-top: 1px solid rgba(0,0,0,0.2);
}
h1{
    font-size: 1.3rem;
    margin: 0rem;
    font-family: 'Titillium Web', sans-serif;
}
header :nth-child(1) aside{
    display: block;
    text-align: end;
    font-size: 0.6rem;
    margin-right: 0.5rem;
}
header nav ul li a:hover{background-color: #4962a5;}
header nav button{

    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #fff;
}

#hamburgerBtn img{
    max-width: 36px;
    max-height: 36px;
    border-radius: 10px;
    padding: 0px 5px;
}
header nav ul li:nth-child(5) img{
    max-height: 40px;
    max-width: 40px;
    border-radius: 10px;
}
header nav ul li:nth-child(5) {
    display: flex;
    justify-content: end;
    align-content: center;
}
header nav ul li:nth-child(5) a{
    display: flex;
    text-align: center;
}
header nav ul {display: none;}
header nav ul.open {display: block;}
#hamburgerBtn a{display:inline-block; }
#hamburgerBtn button span:nth-child(1){display: block;}
#hamburgerBtn button span:nth-child(2){display: none;}
#hamburgerBtn.open button span:nth-child(1){display: none;}
#hamburgerBtn.open button span:nth-child(2){display: block;}
#hamburgerBtn.open a{display: none;}

main section, main section section{
    border: 1px solid rgba(0,0,0,0.2);
    margin: 0.5rem;
    min-height: 5rem;

}
/* .main-grid */

.main-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
    "hero"
    "event"
    "weather"
    "news-release"
    "spotlights";
}

main section{
    margin: 2px;
    padding: 0px;
    border: 0px;
    background-color: rgba(73, 98, 165,0.3);
    border-radius: 3px;
}
section> h3{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2rem;
    margin-top: 1rem;
}
section> p{
    font-size: 0.9rem;
    font-family:'Source Sans Pro', sans-serif ;
}
#hero{
    grid-area: hero;
    display: flex;
    justify-content: center;
    position: relative;
    }
#hero h2{
    position: absolute;
    margin-top: 1.5rem;
}
#hero img{
    max-width: 100%;
    /* max-height: 100%; */
}
#join{
    position: relative;
}
.button-join{
    position: absolute;
    width: 7rem;
    height: 2rem;
    font-weight: 900;
    background-color: #fcca73;
    border-radius: 0.8rem;
    border: 1px solid;
    box-shadow: 0px 0px 30px #333;
}
#hero-sec-button{
    bottom: 20px;
    right: 10px;
}
#join{
    height: 10rem;
}
#join p {
    margin-top: 0.5rem;
    padding: 1rem;
}
#join-sec-button{
    bottom: 10px;
    right: 10px;
}


#news-release p{
    padding: 0.6rem;
    margin-top: 0.1rem;
}


#news-release{grid-area: news-release;}
#spotlights{grid-area: spotlights;}
#join{display: none;}
#join{grid-area: join;}
#event{grid-area: event;}




/************* WEATHER SECTION*********/
#weather{grid-area: weather;}
#weather img{
    max-width: 4rem;
    float: left;
    margin-left: 1rem;
}
div#centered{
    background-color: #fcca73;
    display: flex;
    align-items: center;
    margin: 1rem 0 0 0 ;}
div#centered h2{
    margin-left: 2rem;}
#weather-desc {
    font-weight: 600;
    margin: 1rem;
    padding-bottom: 0.4rem;
    border-bottom: 2px solid #555;
}
#weather #weather-data div{
    text-align: left;
    margin: 0 0 0.4rem 3rem;
}

/*   footer */



footer{
    margin-top: 1rem;
}
.f-wrapper{
    display: block;
    height: 13rem;
    background-color: #7F889F;
    border: 2px solid #4962a5;
    border-radius: 5px 0px 0px 5px;
    border-bottom: none;
}
footer div.copyright{
    background-color: #7F889F;
    border: 2px solid #4962a5;
    border-top:none;
}
.address{border-bottom: 2px solid #555;}
div.address h2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5rem;
}
div.address p{
    font-size: 0.8rem;}
div.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.contact p{
    font-size: 0.8rem;
}

.discover-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    gap: 1.3rem;
}
.discover-holder img[data-src] {
    filter: blur(0.1em);
}
.discover-holder picture img{
    border: 1px solid #000; 
    filter: blur(0em); 
    transition: filter 1.0s;
}
.discover-holder p{
    width: 50rem;
}
.discover-holder .sep-holder{
    display: flex;
    flex-direction: row;

}
.discover-holder .sep1, .discover-holder .sep3{
    width: 100px;
    height: 5px;
    background-color: #fcca73;

}
.discover-holder .sep1{
    border-radius: 2px 0px 0px 2px;
    margin-right: 5px;
}

.discover-holder .sep2{
    width: 5px;
    height: 5px;
    background-color: #4962a5 ;
    border-radius: 2px;
    margin-right: 5px;
}
.discover-holder .sep3{
    border-radius: 0px 2px 2px 0px;}

.discover-holder {
    padding: 1rem 0rem;
}
.discover-holder aside{
    font-size: 20px;
    font-weight: bold;
}
