/* large size */
@media (min-width: 620px){
    h1{font-size: 2.5rem;}   
    h2{font-size: 1.5rem;} 
    h3{font-size: 1.2rem;} 
    header nav ul li a{font-size: 1.5rem;    }
    footer{font-size: 1.4rem;}
    header div.company-name img{max-width: 100%;}
    nav ul{display: flex;}
    nav ul li{flex: 1 1 auto;}
    header nav #hamburgerBtn {display: none;}
    nav ul#primaryNav{display: flex;} 
    header :nth-child(1) aside{font-size: 1rem;}
    #join{display: block;}
    .main-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "event hero hero spotlights"
        "weather hero hero spotlights"
        "join news-release news-release spotlights";
    }
    .main-grid #spotlights{
        display: block;
    }
    .f-wrapper img{
        max-height: 80px;
    }
}