* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body{
    font-size: 16px;
    line-height: 1.5;
    background-color: bisque;
}
header, main, footer{
    margin: auto;
    max-width: 1080px;
    min-width: 260px;
    background-color:bisque;
    text-align: center;
}
header div.company-name img{
    display:flex;
    position:absolute;
    top:0;
    max-width: 50px;
    margin-top: 0.5rem;
}
main{
    display: block;
}
nav {
	background-color: #7F889F;
	text-align: left;
    box-shadow: 0 2px 12px rgb(92, 88, 88);
    border-radius: 3px;
    width: 100%;
}
nav ul {
    list-style-type: none;}
header nav ul li a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.4rem;
    text-decoration: none;
    font-size: 1.3rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
header nav ul li a :nth-child(1){
    border-top: 1px solid rgba(0,0,0,0.2);
}
h1{
    font-size: 1.3rem;
    margin: 0rem;
    font-family: 'Titillium Web', sans-serif;
}
header :nth-child(1) aside{
    display: block;
    text-align: end;
    font-size: 0.6rem;
    margin-right: 0.5rem;
}
header nav ul li a:hover{background-color: #4962a5;}
header nav button{

    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #fff;
}

#hamburgerBtn img{
    max-width: 36px;
    max-height: 36px;
    border-radius: 10px;
    padding: 0px 5px;
}
header nav ul li:nth-child(5) img{
    max-height: 40px;
    max-width: 40px;
    border-radius: 10px;
}
header nav ul li:nth-child(5) {
    display: flex;
    justify-content: end;
    align-content: center;
}
header nav ul li:nth-child(5) a{
    display: flex;
    text-align: center;
}
header nav ul {display: none;}
header nav ul.open {display: block;}
#hamburgerBtn a{display:inline-block; }
#hamburgerBtn button span:nth-child(1){display: block;}
#hamburgerBtn button span:nth-child(2){display: none;}
#hamburgerBtn.open button span:nth-child(1){display: none;}
#hamburgerBtn.open button span:nth-child(2){display: block;}
#hamburgerBtn.open a{display: none;}

main section, main section section{
    border: 1px solid rgba(0,0,0,0.2);
    margin: 0.5rem;
    min-height: 5rem;

}
/* .main-grid {
    display: flex;
    flex-direction: column;
} */

.main-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
    "hero"
    "event"
    "weather"
    "news-release"
    "spotlights";
}

#hero{grid-area: hero;}
#news-release{grid-area: news-release;}
#spotlights{grid-area: spotlights;}
#join{display: none;}
#join{grid-area: join;}
#event{grid-area: event;}
#weather{grid-area: weather;}


footer{
    margin-top: 1rem;
}
.f-wrapper{
    display: block;
    height: 13rem;
    background-color: #7F889F;
    border: 2px solid #4962a5;
    border-radius: 5px 0px 0px 5px;
    border-bottom: none;
}
footer div.copyright{
    background-color: #7F889F;
    border: 2px solid #4962a5;
    border-top:none;
}
.address{border-bottom: 2px solid #314781;}
div.address h2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5rem;
}
div.address p{
    font-size: 0.8rem;
}
div.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.contact p{
    font-size: 0.8rem;
}









