
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #2f4858;
    --secondary-color: #fef19a;
    --bg-color: #bbe6e4;
    --txt-color: #f28969;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body{
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--bg-color);
    font-family:'Ubuntu', 'Source Sans Pro', sans-serif ;
}

aside{
    display:none;
}
h1,h2,h3,h4{
    font-family: 'Nunito', 'Source Sans Pro';
}
h1{
    font-size: 1.3rem;
    max-width: 80%;
    display: inline-block;
    text-align: center;
    margin-bottom: 0;
}
header, main, footer{
    margin: auto;
    max-width: 1080px;
    min-width: 260px;
    text-align: center;
}

/* .company-name {
    background-color: #bbe6e4;
} */
.company-name img {
    display:flex;
    position:absolute;
    top: 1px;
    margin-top: 10px;
    max-height: 30px;

}

nav {
	background-color: var(--secondary-color);
	text-align: left;
    box-shadow: 0 2px 12px rgb(92, 88, 88);
    
    width: 100%;
}
nav ul {
    list-style-type: none;
}
header nav ul li a{
    display: block;
    color: var(--txt-color);
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
header nav ul li a :nth-child(1){
    border-top: 1px solid rgba(0,0,0,0.2);
}

header nav ul li a:hover{background-color: #2f4858;}
header nav button{

    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #000;
}

#hamburgerBtn img{
    max-width: 36px;
    max-height: 36px;
    border-radius: 10px;
    padding: 0px 5px;
}
header nav ul li:nth-child(6) img{
    max-height: 35px;
    border-radius: 10px;
}
header nav ul li:nth-child(6) {
    display: flex;
    justify-content: end;
    align-content: center;
}
header nav ul li:nth-child(6) a{
    display: flex;
    text-align: center;
}
header nav ul {display: none;}
header nav ul.open {display: block;}
#hamburgerBtn a{display:inline-block; }
#hamburgerBtn button span:nth-child(1){display: block;}
#hamburgerBtn button span:nth-child(2){display: none;}
#hamburgerBtn.open button span:nth-child(1){display: none;}
#hamburgerBtn.open button span:nth-child(2){display: block;}
#hamburgerBtn.open a{display: none;}



/* Main css */

.main-fields{
    display: block;
    /* flex-direction: row; */
    border: none;
}
.main-form{
    position: relative;
}
.main-form picture img{
    width: 700px;
}
#form-make-reservation{
    position: absolute;
    top: 1rem;
    margin-left: 0.5rem;
    display: block;
    /* flex-direction: row; */
}
.button-submit{
    background-color: var(--primary-color);
    color: #fef19a;
    width: 8.5rem;
    min-height: 2.5rem;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #000;
    border-top: 1px solid rgba(255,255,255,0.8);
    border-left: 1px solid rgba(255,255,255,0.8);
}
.fields{
    display: block;
    /* flex-direction: column;
    align-items: flex-start; */
    margin-right: 1rem;
    text-align: left;
    background-color: #000;
    border-radius: 5px 5px 0px 0px;
    
}
.fields span{
    font-size: .7rem;
    color: rgba(255,255,255,0.8);
    margin-left: 0.3rem;
}
.fields .lbl input,.fields .select-lbl{
    width: 9rem;
    min-height: 2.5rem;
    font-size: .9rem;
    font-family: 'Source Sans Pro', 'sans-serif','currier';
}
.fields{
    text-align: right;
    margin-top: 0.2rem;
}


.temple-info h3, .temple-info p{
    color: #000;
}
.temple-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4px;
}
.temple-info p{margin-left: 10px;}
.temple-info img{
    display: none;
}


.amenities{
    display: block;
    font-size: 10px;
    margin-left: 25px;
    text-align: left;
}
.amenities ul{margin-top: 1rem;}
.amenities ul li{
    text-decoration:dotted;
}
.mid-area{
    display: block;
    margin-top: 1rem;
}



#weather{
    width: 100%;
    background-color: aqua;
    padding-top: 1rem;
}
#five-days-weather{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    align-items: stretch;
}
.weather-day {
    width: 33%;
    border-right: 1px solid #000;
}
#five-days-weather :nth-child(3){
    border-right: none ;
}
.weather-day p{
    margin-top: 0.6rem;
    font-size: 10px;
}

.weather-day h5{
    padding-bottom: .5rem;
}






#adds-top div, #adds-bottom {
    width: 100%;
    background-color:#ffffff;
    border: 10px solid #bbe6e4;
}


















/* footer Css */

.f-wrapper{
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-color);
    border-radius: 5px;
    margin: 1rem 0;
    box-shadow: 0 2px 12px rgb(92, 88, 88);
}
.f-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25%;
}
.address{
    min-width: 50%;
}
.contact{
    min-width: 25%;
    padding-top: 1rem;
    font-size: .8rem;
}
.f-wrapper img{
    max-height: 30px;
}
.copyright p{
    background-color: var(--txt-color);
    width: 50%;
    margin: auto;
    border-radius: 10px;
}











